<div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:oiz="http://openiz.org/applet">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">
                    <i class="fa fa-exclamation-circle"></i>
                    <span ng-if="error.type"> {{ error.type | translate }} </span>
                    <span ng-if="!error.type"> {{ 'locale.error.general' | translate }} </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>{{ error.message | translate }}</strong>
                        </div>
                        <div class="col-sm-12" ng-bind-html="error.details">
                        </div>
                        <div class="col-sm-12" ng-if="error.rules">
                            <h5>{{ 'locale.error.rules' | translate }}</h5>
                            <ul>
                                <li ng-repeat="rule in error.rules track by $index">
                                    {{ rule.text | translate }} <span class="label" ng-class="{ 'label-warning': rule.priority == 'Warning' , 'label-danger' : rule.priority == 'Error', 'label-info' : rule.priority == 'Informational' }">{{rule.priority}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 panel-group" id="errorContainer">
                            <div class="panel panel-default" ng-repeat="inner in error.cause track by $index">
                                <div class="panel-heading" style="padding:2px">
                                    <h4 class="panel-title"  style="margin:0px; padding:0px">
                                        <a style="margin:0px; padding:0px" data-parent="#errorContainer" data-target="#errorcause{{$index}}" data-toggle="collapse">{{ 'locale.error.cause' | i18n }} {{ inner.type | translate }}</a>
                                    </h4>
                                </div>
                                <div class="collapse" id="errorcause{{$index}}">
                                    <div class="panel-body">
                                        <strong>{{ inner.error }}</strong> {{ inner.details }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
                    <span>
                        <span class="glyphicon glyphicon-remove"></span> {{ 'locale.action.close' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>